{% comment %} desktop {% endcomment %}
<div class="footer__bg">
<div class="desktop__footer">
<div class="main__footer__sec__wrapper">
  <div class="main__footer__wrapper">
    <div class="column__1__wrapper">
        <h2>Get On The List</h2>
        <div class="contact__form__wrapper">
    <input type="text" class="contact__input">
    <button class="arrow__button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" viewBox="0 0 24 24"><path fill="#4C303F" d="M6.4 18L5 16.6L14.6 7H6V5h12v12h-2V8.4z"/></svg></button>
</div>

        <div class="social__media__wrapper">
            <div>
            <a href="https://www.facebook.com/cristelusa/?locale=it_IT">   <svg id="Facebook" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30.625" viewBox="0 0 30 30.625">
                    <defs>
                      <clipPath id="clip-path">
                        <rect id="Rettangolo_340" data-name="Rettangolo 340" width="30" height="30.625" fill="#4c303f"/>
                      </clipPath>
                    </defs>
                    <g id="Raggruppa_536" data-name="Raggruppa 536" clip-path="url(#clip-path)">
                      <path id="Tracciato_303" data-name="Tracciato 303" d="M123.775,230.2l-.193.015.193-.015" transform="translate(-107.505 -199.627)" fill="#4c303f"/>
                      <path id="Tracciato_304" data-name="Tracciato 304" d="M15,0A15.159,15.159,0,0,0,0,15.313,15.159,15.159,0,0,0,15,30.625h.018a14.263,14.263,0,0,1-1.765-.115V19.359H10.193v-4.07h3.061v-2.4a6.66,6.66,0,0,1,2.035-5.1,7.5,7.5,0,0,1,5.344-1.908,9.153,9.153,0,0,1,2.779.355v4.29a5.554,5.554,0,0,0-2.068-.439q-2.746,0-2.746,3.107v2.094h4.169v4.07H18.6V30.172a14.177,14.177,0,0,1-2.134.381A15.2,15.2,0,0,0,30,15.313,15.159,15.159,0,0,0,15,0" fill="#4c303f"/>
                      <path id="Tracciato_305" data-name="Tracciato 305" d="M116.836,230.565l-.251,0c.084,0,.168,0,.251,0" transform="translate(-101.419 -199.946)" fill="#4c303f"/>
                      <path id="Tracciato_306" data-name="Tracciato 306" d="M120.637,230.435l-.154.007.154-.007" transform="translate(-104.81 -199.833)" fill="#4c303f"/>
                    </g>
                  </svg></a>
             
                  
            </div>
            <div>
            <a href="https://www.instagram.com/cristelusa/?hl=it">
              <svg id="Instagram" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
                    <defs>
                      <clipPath id="clip-path">
                        <rect id="Rettangolo_326" data-name="Rettangolo 326" width="30" height="30" fill="#4c303f"/>
                      </clipPath>
                    </defs>
                    <g id="Raggruppa_430" data-name="Raggruppa 430" clip-path="url(#clip-path)">
                      <path id="Tracciato_113" data-name="Tracciato 113" d="M70.778,59.388H63.042a3.406,3.406,0,0,0-3.406,3.406V70.53a3.406,3.406,0,0,0,3.406,3.406h7.736a3.406,3.406,0,0,0,3.406-3.406V62.794a3.406,3.406,0,0,0-3.406-3.406M66.91,71.377a4.715,4.715,0,1,1,4.715-4.715,4.715,4.715,0,0,1-4.715,4.715m4.715-8.152A1.278,1.278,0,1,1,72.9,61.947a1.278,1.278,0,0,1-1.278,1.278" transform="translate(-51.878 -51.662)" fill="#4c303f"/>
                      <path id="Tracciato_114" data-name="Tracciato 114" d="M95.491,92.242a3,3,0,1,0,3,3,3,3,0,0,0-3-3" transform="translate(-80.459 -80.242)" fill="#4c303f"/>
                      <path id="Tracciato_115" data-name="Tracciato 115" d="M15,0A15,15,0,1,0,30,15,15,15,0,0,0,15,0m9.056,18.836a5.188,5.188,0,0,1-5.188,5.188H11.2a5.188,5.188,0,0,1-5.188-5.188V11.164A5.188,5.188,0,0,1,11.2,5.977h7.671a5.188,5.188,0,0,1,5.188,5.188Z" fill="#4c303f"/>
                    </g>
                  </svg>
            </a>
              
                  
            </div>
            <div>
            <a href="https://www.youtube.com/channel/UCtYOCeCqRu7J1QOdZ0MTMtQ/videos">  <svg id="YouTube" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
                    <defs>
                      <clipPath id="clip-path">
                        <rect id="Rettangolo_341" data-name="Rettangolo 341" width="30" height="30" fill="#4c303f"/>
                      </clipPath>
                    </defs>
                    <path id="Tracciato_307" data-name="Tracciato 307" d="M99.825,98.654l5.147-2.928L99.825,92.8Z" transform="translate(-86.838 -80.726)" fill="#4c303f"/>
                    <g id="Raggruppa_539" data-name="Raggruppa 539">
                      <g id="Raggruppa_538" data-name="Raggruppa 538" clip-path="url(#clip-path)">
                        <path id="Tracciato_308" data-name="Tracciato 308" d="M15,0A15,15,0,1,0,30,15,15,15,0,0,0,15,0m9.435,19.771a2.474,2.474,0,0,1-1.741,1.752c-1.536.414-7.694.414-7.694.414s-6.158,0-7.694-.414a2.475,2.475,0,0,1-1.741-1.752A25.958,25.958,0,0,1,5.154,15a25.958,25.958,0,0,1,.411-4.771A2.475,2.475,0,0,1,7.306,8.477C8.842,8.063,15,8.063,15,8.063s6.158,0,7.694.414a2.474,2.474,0,0,1,1.741,1.752A25.958,25.958,0,0,1,24.846,15a25.958,25.958,0,0,1-.411,4.771" fill="#4c303f"/>
                      </g>
                    </g>
                  </svg></a>
            </div>
        </div>
        <div class="let__connect__wrapper">
            <h2>Let’s Connect</h2>
        </div>
        <div class="contact__details__wrapper">
        <a href="">(770) 979-6255</a>
        <a href="">customerservice@cristelusa.com</a>
        <p>PO Box 467906 <br> Atlanta, Georgia <br> 31146</p>
        </div>
    </div>
    <div class="column__2__wrapper">
        <div class="column__3__wrapper">
          <a href="">Help</a>
          <a href="https://www.cristelusa.com/blogs/faq">FAQs</a>
          <a href="https://www.cristelusa.com/pages/contact-1">Contact</a>
          <a href="https://www.cristelusa.com/pages/point-of-sale">Points Of Sale</a>
         
        </div>
       <div class="column__3__wrapper">
        <a href="">Menu</a>
        <a href="https://www.cristelusa.com/collections/all">Products</a>
        <a href="https://www.cristelusa.com/pages/collection">Collections</a>
        <a href="https://www.cristelusa.com/pages/recipes">Recipes & Tips</a>
        <a href="https://www.cristelusa.com/pages/restaurant-supply">Hospitality</a>
        <a href="https://www.cristelusa.com/pages/contact">Maison Cristel<sup><span class="">®</span></sup></a>
        <a href="">Retailers</a>
    </div>
      <div class="column__3__wrapper">
        <a href="">Collections</a>
        <a href="https://www.cristelusa.com/pages/1826-collection">1826<sup><span class="">®</span></sup> collection</a>
        <a href="https://www.cristelusa.com/pages/strate-collection">Strate<sup><span class="">®</span></sup> removable handle </a>
        <a href="https://www.cristelusa.com/pages/castelpro%C2%AE-5-ply-ultraply%C2%AE">Castel Pro<sup><span class="">®</span></sup> Ultraply<sup><span class="">®</span></sup></a>
        <a href="https://www.cristelusa.com/collections/specialty-items">Specialty Items</a>
    </div>
    </div>
   
  </div>
  <div class="footer__end__wrapper">
  <div class="footer__end__col__1__wrapper">
  <svg id="PayPal" xmlns="http://www.w3.org/2000/svg" width="70.181" height="18.9" viewBox="0 0 70.181 18.9">
  <path id="Tracciato_118" data-name="Tracciato 118" d="M-835.312,39.734a.414.414,0,0,0-.409.35l-2.361,14.971a.383.383,0,0,0,.087.309.383.383,0,0,0,.291.134h2.8a.414.414,0,0,0,.409-.35l.693-4.4a.414.414,0,0,1,.409-.35h2.545a6.037,6.037,0,0,0,5.96-5.11,4.9,4.9,0,0,0-5.135-5.557Zm2.721,3.342h2.036c1.677,0,2.223.989,2.05,2.083s-1.021,1.9-2.642,1.9h-2.073Zm13.4,1.018a6.367,6.367,0,0,0-2.433.528,6.358,6.358,0,0,0-3.528,3.993s-1.36,4.014,1.712,6.219a5.245,5.245,0,0,0,6.056-.131l-.055.352a.383.383,0,0,0,.087.308.383.383,0,0,0,.291.134h2.658a.414.414,0,0,0,.409-.35l1.617-10.252a.383.383,0,0,0-.087-.309.383.383,0,0,0-.291-.135h-2.658a.414.414,0,0,0-.409.35l-.087.552a4.615,4.615,0,0,0-3.282-1.26Zm.087,3.238a2.723,2.723,0,0,1,.835.123,2.351,2.351,0,0,1,1.609,2.664,2.977,2.977,0,0,1-2.984,2.553,2.726,2.726,0,0,1-.835-.122,2.354,2.354,0,0,1-1.612-2.664,2.981,2.981,0,0,1,2.988-2.553Z" transform="translate(838.086 -39.734)" fill="#4c303f"/>
  <path id="Tracciato_119" data-name="Tracciato 119" d="M-704.511,39.734a.414.414,0,0,0-.409.35l-2.361,14.971a.383.383,0,0,0,.087.309.383.383,0,0,0,.291.134h2.8a.414.414,0,0,0,.409-.35l.693-4.4a.414.414,0,0,1,.409-.35h2.545a6.036,6.036,0,0,0,5.959-5.11,4.9,4.9,0,0,0-5.134-5.557Zm2.721,3.342h2.036c1.677,0,2.223.989,2.05,2.083s-1.02,1.9-2.642,1.9h-2.073Zm13.4,1.018a6.368,6.368,0,0,0-2.434.528,6.358,6.358,0,0,0-3.528,3.993s-1.359,4.014,1.713,6.219a5.244,5.244,0,0,0,6.056-.131l-.055.352a.383.383,0,0,0,.087.309.383.383,0,0,0,.291.134h2.657a.414.414,0,0,0,.409-.35l1.617-10.252a.383.383,0,0,0-.087-.309.383.383,0,0,0-.291-.134h-2.658a.414.414,0,0,0-.409.35l-.087.552a4.615,4.615,0,0,0-3.282-1.26Zm.087,3.238a2.722,2.722,0,0,1,.835.123,2.351,2.351,0,0,1,1.609,2.664,2.977,2.977,0,0,1-2.984,2.553,2.726,2.726,0,0,1-.835-.122,2.354,2.354,0,0,1-1.613-2.664,2.981,2.981,0,0,1,2.988-2.553Z" transform="translate(745.558 -39.734)" fill="#4c303f"/>
  <path id="Tracciato_120" data-name="Tracciato 120" d="M-746.672,55.858a.311.311,0,0,0-.3.406l2.914,9.041-2.635,4.261a.311.311,0,0,0,.264.474h3.114a.518.518,0,0,0,.443-.25l8.138-13.461a.311.311,0,0,0-.266-.471h-3.114a.518.518,0,0,0-.445.254l-3.2,5.408-1.626-5.368a.415.415,0,0,0-.4-.294Z" transform="translate(773.64 -51.14)" fill="#4c303f"/>
  <path id="Tracciato_121" data-name="Tracciato 121" d="M-615.816,39.734a.414.414,0,0,0-.409.35l-2.361,14.97a.383.383,0,0,0,.087.309.383.383,0,0,0,.292.134h2.8a.414.414,0,0,0,.409-.35l2.361-14.971a.383.383,0,0,0-.087-.308.383.383,0,0,0-.291-.134Z" transform="translate(682.815 -39.734)" fill="#4c303f"/>
</svg>
<svg id="Mastercard" xmlns="http://www.w3.org/2000/svg" width="41.276" height="25.529" viewBox="0 0 41.276 25.529">
  <rect id="rect19" width="11.17" height="20.068" transform="translate(15.037 2.731)" fill="#4c303f"/>
  <path id="XMLID_330_" d="M15.78,12.764A12.8,12.8,0,0,1,20.638,2.731a12.76,12.76,0,1,0-7.874,22.8A12.7,12.7,0,0,0,20.638,22.8,12.739,12.739,0,0,1,15.78,12.764Z" fill="#4c303f"/>
  <path id="path22" d="M520.238,12.764A12.752,12.752,0,0,1,499.6,22.8a12.791,12.791,0,0,0,0-20.068,12.752,12.752,0,0,1,20.638,10.034Z" transform="translate(-478.962)" fill="#4c303f"/>
</svg>
<svg id="Visa" xmlns="http://www.w3.org/2000/svg" width="46.46" height="15.036" viewBox="0 0 46.46 15.036">
  <path id="polygon9" d="M437.271,125.282h-3.764l2.354-14.555h3.763Z" transform="translate(-417.138 -110.463)" fill="#4c303f"/>
  <path id="path11" d="M576.468,105.667a9.275,9.275,0,0,0-3.376-.62c-3.717,0-6.334,1.982-6.35,4.815-.031,2.091,1.874,3.252,3.3,3.949,1.456.712,1.951,1.177,1.951,1.812-.015.975-1.177,1.425-2.26,1.425a7.49,7.49,0,0,1-3.531-.774l-.5-.233-.527,3.267a11.454,11.454,0,0,0,4.2.775c3.949,0,6.52-1.951,6.55-4.971.015-1.657-.991-2.927-3.159-3.964-1.316-.666-2.123-1.115-2.123-1.8.016-.619.682-1.254,2.168-1.254a6.4,6.4,0,0,1,2.8.557l.34.155.512-3.143Z" transform="translate(-542.692 -105.048)" fill="#4c303f"/>
  <path id="path13" d="M796.345,120.126c.31-.836,1.5-4.072,1.5-4.072-.016.031.309-.852.5-1.394l.263,1.254s.713,3.484.867,4.212Zm4.646-9.4h-2.911a1.857,1.857,0,0,0-1.967,1.208l-5.59,13.347h3.949l.79-2.183h4.832c.108.511.449,2.183.449,2.183h3.485l-3.036-14.555Z" transform="translate(-757.567 -110.463)" fill="#4c303f"/>
  <path id="path15" d="M175.128,110.727l-3.686,9.925-.4-2.013a11.141,11.141,0,0,0-5.2-6.1l3.376,12.729h3.98l5.916-14.54Z" transform="translate(-161.902 -110.463)" fill="#4c303f"/>
  <path id="path17" d="M87.283,110.727H81.228l-.062.294c4.723,1.208,7.852,4.119,9.137,7.619l-1.316-6.689a1.557,1.557,0,0,0-1.7-1.224Z" transform="translate(-81.166 -110.463)" fill="#4c303f"/>
</svg>
  <svg id="American_Express" data-name="American Express" xmlns="http://www.w3.org/2000/svg" width="67.495" height="21.775" viewBox="0 0 67.495 21.775">
  <path id="path3046" d="M3.6,0,.2,7.918H2.414l.628-1.586H6.694l.628,1.586H9.589L6.187,0H3.6ZM4.864,1.843,5.978,4.61H3.751L4.864,1.843Z" transform="translate(-0.2)" fill="#4c303f"/>
  <path id="path3048" d="M142.7,7.911V0l3.152.014,1.829,5.1L149.47,0H152.6V7.918h-1.978V2.079l-2.1,5.832h-1.735l-2.106-5.832V7.911Z" transform="translate(-133.081)" fill="#4c303f"/>
  <path id="path3050" d="M309.4,7.911V0h6.46V1.769H311.4V3.125h4.354V4.793H311.4V6.2h4.455V7.918H309.4Z" transform="translate(-288.529)" fill="#4c303f"/>
  <path id="path3052" d="M422,0V7.918h1.978V5.1h.83l2.376,2.815H429.6L427,5a2.411,2.411,0,0,0,2.174-2.43A2.714,2.714,0,0,0,426.4,0Zm1.978,1.769h2.261a.912.912,0,0,1,.938.83,1,1,0,0,1-.911.83h-2.288V1.762h0Z" transform="translate(-393.528)" fill="#4c303f"/>
  <path id="path3054" d="M542.218,7.911H540.2V0h2.018V7.911Z" transform="translate(-503.749)" fill="#4c303f"/>
  <path id="path3056" d="M588.227,7.911h-.439c-2.113,0-3.389-1.661-3.389-3.922A3.652,3.652,0,0,1,588.328,0h2.187V1.877h-2.268A1.906,1.906,0,0,0,586.4,4.01a2.056,2.056,0,0,0,2.133,2.174h.52l-.83,1.728Z" transform="translate(-544.966)" fill="#4c303f"/>
  <path id="path3058" d="M657.9,0l-3.4,7.918h2.214l.628-1.586h3.652l.628,1.586h2.268L660.481,0Zm1.256,1.843,1.114,2.768h-2.227l1.114-2.768h0Z" transform="translate(-610.334)" fill="#4c303f"/>
  <path id="path3060" d="M796.9,7.911V0h2.518l3.213,4.975V0h1.978V7.918h-2.437l-3.294-5.1v5.1H796.9Z" transform="translate(-743.122)" fill="#4c303f"/>
  <path id="path3062" d="M213.7,213.118V205.2h6.46v1.769H215.7v1.357h4.354v1.667H215.7v1.4h4.455v1.721Z" transform="translate(-199.288 -191.349)" fill="#4c303f"/>
  <path id="path3064" d="M682.4,213.118V205.2h6.46v1.769H684.4v1.357h4.334v1.667H684.4v1.4h4.455v1.721Z" transform="translate(-636.351 -191.349)" fill="#4c303f"/>
  <path id="path3066" d="M312.074,213.118l3.146-3.908L312,205.2h2.491l1.917,2.477,1.924-2.477h2.4l-3.179,3.956,3.152,3.956H318.21l-1.863-2.437-1.816,2.437h-2.457Z" transform="translate(-290.953 -191.349)" fill="#4c303f"/>
  <path id="path3068" d="M444.4,205.2v7.918h2.032v-2.5h2.086c1.762,0,3.1-.938,3.1-2.754s-1.046-2.659-2.842-2.659H444.4Zm2.032,1.789h2.194a.914.914,0,1,1-.007,1.822h-2.187v-1.822Z" transform="translate(-414.416 -191.349)" fill="#4c303f"/>
  <path id="path3072" d="M563.9,205.2v7.918h1.978V210.3h.83l2.376,2.815H571.5L568.9,210.2a2.411,2.411,0,0,0,2.173-2.43,2.712,2.712,0,0,0-2.767-2.565h-4.4Zm1.985,1.769h2.261a.912.912,0,0,1,.938.83,1,1,0,0,1-.911.83h-2.288v-1.667Z" transform="translate(-525.85 -191.349)" fill="#4c303f"/>
  <path id="path3074" d="M788.25,213.211V211.49h3.962c.587,0,.837-.317.837-.661s-.25-.668-.837-.668h-1.789A2.214,2.214,0,0,1,788,207.791c0-1.424.8-2.491,3.105-2.491h3.854l-.83,1.782h-3.335c-.635,0-.83.338-.83.655a.7.7,0,0,0,.729.689h1.876a2.17,2.17,0,0,1,2.484,2.275,2.418,2.418,0,0,1-2.579,2.518h-4.219Z" transform="translate(-734.823 -191.442)" fill="#4c303f"/>
  <path id="path3076" d="M895.85,213.211V211.49h3.962c.587,0,.837-.317.837-.661s-.25-.668-.837-.668h-1.789a2.214,2.214,0,0,1-2.423-2.369c0-1.424.8-2.491,3.105-2.491h3.854l-.83,1.782h-3.334c-.635,0-.83.338-.83.655a.7.7,0,0,0,.729.689h1.876a2.17,2.17,0,0,1,2.484,2.275,2.418,2.418,0,0,1-2.579,2.518h-4.219Z" transform="translate(-835.159 -191.442)" fill="#4c303f"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="61.674" height="25.322" viewBox="0 0 61.674 25.322">
  <path id="Apple_Pay" data-name="Apple Pay" d="M11.328,3.265A3.789,3.789,0,0,1,8.292,4.7,4.3,4.3,0,0,1,9.376,1.554,4.528,4.528,0,0,1,12.388,0a4.574,4.574,0,0,1-1.06,3.265m1.048,1.662c-1.675-.1-3.108.952-3.9.952S6.449,4.975,5.123,5a4.948,4.948,0,0,0-4.2,2.554c-1.807,3.108-.47,7.71,1.277,10.24.855,1.253,1.879,2.626,3.229,2.578,1.277-.048,1.783-.831,3.325-.831s2,.831,3.349.807c1.4-.024,2.277-1.253,3.132-2.506a10.988,10.988,0,0,0,1.4-2.879,4.539,4.539,0,0,1-2.723-4.132,4.635,4.635,0,0,1,2.2-3.879,4.774,4.774,0,0,0-3.735-2.024m9.674-3.494V20.215h2.915V13.794H29A5.961,5.961,0,0,0,35.277,7.6,5.891,5.891,0,0,0,29.1,1.434H22.049Zm2.915,2.458h3.361c2.53,0,3.976,1.349,3.976,3.722s-1.446,3.735-3.988,3.735H24.965ZM40.6,20.359a4.823,4.823,0,0,0,4.3-2.4h.06v2.253h2.7V10.866c0-2.711-2.168-4.457-5.505-4.457-3.1,0-5.385,1.771-5.469,4.2h2.626A2.559,2.559,0,0,1,42.072,8.7c1.783,0,2.783.831,2.783,2.361V12.1l-3.638.217c-3.385.2-5.216,1.59-5.216,4C36,18.745,37.891,20.359,40.6,20.359Zm.783-2.229c-1.554,0-2.542-.747-2.542-1.891,0-1.181.952-1.867,2.771-1.976l3.241-.2v1.06C44.854,16.878,43.361,18.131,41.385,18.131Zm9.879,7.192c2.843,0,4.18-1.084,5.349-4.373l5.12-14.36H58.769l-3.433,11.1h-.06L51.842,6.59H48.794l4.939,13.673-.265.831a2.318,2.318,0,0,1-2.458,1.952c-.229,0-.675-.024-.855-.048V25.25A8.03,8.03,0,0,0,51.263,25.322Z" transform="translate(-0.059)" fill="#4c303f"/>
</svg>
<svg id="Google_Pay_Logo" xmlns="http://www.w3.org/2000/svg" width="59.252" height="23.549" viewBox="0 0 59.252 23.549">
  <path id="Tracciato_292" data-name="Tracciato 292" d="M37.021,16.144v6.886H34.8V6h5.775a5.511,5.511,0,0,1,3.776,1.481,4.705,4.705,0,0,1,1.555,3.628,4.816,4.816,0,0,1-1.555,3.628,5.38,5.38,0,0,1-3.776,1.481l-3.554-.074Zm0-8.07V14h3.7a2.848,2.848,0,0,0,2.147-.888,2.84,2.84,0,0,0,.074-4.072l-.074-.074a2.7,2.7,0,0,0-2.147-.888Z" transform="translate(-9.015 -4.663)" fill="#4c303f"/>
  <path id="Tracciato_293" data-name="Tracciato 293" d="M54.909,12.8a5.411,5.411,0,0,1,3.85,1.333,4.578,4.578,0,0,1,1.407,3.554v7.108H58.093V23.166h-.074a4.207,4.207,0,0,1-3.628,2,4.965,4.965,0,0,1-3.258-1.111A3.936,3.936,0,0,1,49.8,21.167a3.582,3.582,0,0,1,1.333-2.888,5.563,5.563,0,0,1,3.628-1.037,5.8,5.8,0,0,1,3.184.74v-.518a2.388,2.388,0,0,0-.888-1.925,3.368,3.368,0,0,0-5.035.74L50.1,15.1A5.64,5.64,0,0,1,54.909,12.8ZM52.1,21.241a1.685,1.685,0,0,0,.74,1.407,2.966,2.966,0,0,0,1.7.592A3.484,3.484,0,0,0,56.982,22.2a3.125,3.125,0,0,0,1.111-2.369,4.623,4.623,0,0,0-2.888-.814,3.6,3.6,0,0,0-2.221.666A1.74,1.74,0,0,0,52.1,21.241Z" transform="translate(-12.909 -6.429)" fill="#4c303f"/>
  <path id="Tracciato_294" data-name="Tracciato 294" d="M75.924,13.3l-7.33,16.807H66.373l2.74-5.849L64.3,13.374h2.369l3.48,8.367h.074l3.406-8.367h2.3Z" transform="translate(-16.673 -6.558)" fill="#4c303f"/>
  <path id="Tracciato_295" data-name="Tracciato 295" d="M22.6,17a18.154,18.154,0,0,0-.148-2H13.2v3.776h5.257a4.489,4.489,0,0,1-1.925,2.962v2.443h3.184A9.525,9.525,0,0,0,22.6,17Z" transform="translate(-3.408 -7)" fill="#4c303f"/>
  <path id="Tracciato_296" data-name="Tracciato 296" d="M10.137,27.822a9.483,9.483,0,0,0,6.516-2.369L13.469,23.01a5.9,5.9,0,0,1-3.332.963A5.8,5.8,0,0,1,4.658,19.9H1.4v2.517A9.784,9.784,0,0,0,10.137,27.822Z" transform="translate(-0.345 -8.272)" fill="#4c303f"/>
  <path id="Tracciato_297" data-name="Tracciato 297" d="M4.288,17.693a5.515,5.515,0,0,1,0-3.776V11.4H1.03a9.724,9.724,0,0,0,0,8.811Z" transform="translate(0.025 -6.065)" fill="#4c303f"/>
  <path id="Tracciato_298" data-name="Tracciato 298" d="M10.163,8.049A5.511,5.511,0,0,1,13.939,9.53h0l2.814-2.814A9.363,9.363,0,0,0,10.237,4.2,9.7,9.7,0,0,0,1.5,9.6l3.258,2.517A5.642,5.642,0,0,1,10.163,8.049Z" transform="translate(-0.371 -4.195)" fill="#4c303f"/>
</svg>

  </div>
  <div class="footer__end__col__2__wrapper">
    <a href="https://www.cristelusa.com/policies/shipping-policy">Shipping Policy</a>
    <a href="https://www.cristelusa.com/pages/privacy">Policy Privacy</a>
    <a href="https://www.cristelusa.com/pages/terms-and-conditions-1">Terms and Condidions</a>
    <a href="">Copyright © Cristel USA</a>
  </div>
  </div>
</div>
</div>
</div>

<div class="tablet__mobile__footer">
<div class="tablet__mobile__footer__bg">
<div class="tablet__mobile__footer__main">
<div>
 <h2 class="tab__mob__get__list">Get On The List</h2>
  <div class="contact__form__wrapper">
    <input type="text" class="contact__input">
    <button class="arrow__button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" viewBox="0 0 24 24"><path fill="#4C303F" d="M6.4 18L5 16.6L14.6 7H6V5h12v12h-2V8.4z"/></svg></button>
</div>
    <div class="tab__mob__social__media__wrapper">
            <div>
            <a href="https://www.facebook.com/cristelusa/?locale=it_IT"><svg id="Facebook" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30.625" viewBox="0 0 30 30.625">
                    <defs>
                      <clipPath id="clip-path">
                        <rect id="Rettangolo_340" data-name="Rettangolo 340" width="30" height="30.625" fill="#4c303f"/>
                      </clipPath>
                    </defs>
                    <g id="Raggruppa_536" data-name="Raggruppa 536" clip-path="url(#clip-path)">
                      <path id="Tracciato_303" data-name="Tracciato 303" d="M123.775,230.2l-.193.015.193-.015" transform="translate(-107.505 -199.627)" fill="#4c303f"/>
                      <path id="Tracciato_304" data-name="Tracciato 304" d="M15,0A15.159,15.159,0,0,0,0,15.313,15.159,15.159,0,0,0,15,30.625h.018a14.263,14.263,0,0,1-1.765-.115V19.359H10.193v-4.07h3.061v-2.4a6.66,6.66,0,0,1,2.035-5.1,7.5,7.5,0,0,1,5.344-1.908,9.153,9.153,0,0,1,2.779.355v4.29a5.554,5.554,0,0,0-2.068-.439q-2.746,0-2.746,3.107v2.094h4.169v4.07H18.6V30.172a14.177,14.177,0,0,1-2.134.381A15.2,15.2,0,0,0,30,15.313,15.159,15.159,0,0,0,15,0" fill="#4c303f"/>
                      <path id="Tracciato_305" data-name="Tracciato 305" d="M116.836,230.565l-.251,0c.084,0,.168,0,.251,0" transform="translate(-101.419 -199.946)" fill="#4c303f"/>
                      <path id="Tracciato_306" data-name="Tracciato 306" d="M120.637,230.435l-.154.007.154-.007" transform="translate(-104.81 -199.833)" fill="#4c303f"/>
                    </g>
                  </svg></a>
               
                  
            </div>
            <div>
            <a href="https://www.instagram.com/cristelusa/?hl=it">
              <svg id="Instagram" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
                    <defs>
                      <clipPath id="clip-path">
                        <rect id="Rettangolo_326" data-name="Rettangolo 326" width="30" height="30" fill="#4c303f"/>
                      </clipPath>
                    </defs>
                    <g id="Raggruppa_430" data-name="Raggruppa 430" clip-path="url(#clip-path)">
                      <path id="Tracciato_113" data-name="Tracciato 113" d="M70.778,59.388H63.042a3.406,3.406,0,0,0-3.406,3.406V70.53a3.406,3.406,0,0,0,3.406,3.406h7.736a3.406,3.406,0,0,0,3.406-3.406V62.794a3.406,3.406,0,0,0-3.406-3.406M66.91,71.377a4.715,4.715,0,1,1,4.715-4.715,4.715,4.715,0,0,1-4.715,4.715m4.715-8.152A1.278,1.278,0,1,1,72.9,61.947a1.278,1.278,0,0,1-1.278,1.278" transform="translate(-51.878 -51.662)" fill="#4c303f"/>
                      <path id="Tracciato_114" data-name="Tracciato 114" d="M95.491,92.242a3,3,0,1,0,3,3,3,3,0,0,0-3-3" transform="translate(-80.459 -80.242)" fill="#4c303f"/>
                      <path id="Tracciato_115" data-name="Tracciato 115" d="M15,0A15,15,0,1,0,30,15,15,15,0,0,0,15,0m9.056,18.836a5.188,5.188,0,0,1-5.188,5.188H11.2a5.188,5.188,0,0,1-5.188-5.188V11.164A5.188,5.188,0,0,1,11.2,5.977h7.671a5.188,5.188,0,0,1,5.188,5.188Z" fill="#4c303f"/>
                    </g>
                  </svg>
            </a>
              
                  
            </div>
            <div>
            <a href="https://www.youtube.com/channel/UCtYOCeCqRu7J1QOdZ0MTMtQ/videos">
              <svg id="YouTube" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
                    <defs>
                      <clipPath id="clip-path">
                        <rect id="Rettangolo_341" data-name="Rettangolo 341" width="30" height="30" fill="#4c303f"/>
                      </clipPath>
                    </defs>
                    <path id="Tracciato_307" data-name="Tracciato 307" d="M99.825,98.654l5.147-2.928L99.825,92.8Z" transform="translate(-86.838 -80.726)" fill="#4c303f"/>
                    <g id="Raggruppa_539" data-name="Raggruppa 539">
                      <g id="Raggruppa_538" data-name="Raggruppa 538" clip-path="url(#clip-path)">
                        <path id="Tracciato_308" data-name="Tracciato 308" d="M15,0A15,15,0,1,0,30,15,15,15,0,0,0,15,0m9.435,19.771a2.474,2.474,0,0,1-1.741,1.752c-1.536.414-7.694.414-7.694.414s-6.158,0-7.694-.414a2.475,2.475,0,0,1-1.741-1.752A25.958,25.958,0,0,1,5.154,15a25.958,25.958,0,0,1,.411-4.771A2.475,2.475,0,0,1,7.306,8.477C8.842,8.063,15,8.063,15,8.063s6.158,0,7.694.414a2.474,2.474,0,0,1,1.741,1.752A25.958,25.958,0,0,1,24.846,15a25.958,25.958,0,0,1-.411,4.771" fill="#4c303f"/>
                      </g>
                    </g>
                  </svg>
            </a>
              
            </div>
        </div>
<div>
<a href="" class="tab__mob__help">Help</a>
<div class="tab__mob__main__foot__wrapper">
          <a href="https://www.cristelusa.com/blogs/faq">FAQs</a>
          <a href="https://www.cristelusa.com/pages/contact-1">Contact</a>
          <a href="https://www.cristelusa.com/pages/point-of-sale">Points Of Sale</a>
       
</div>

<div class="tab__mob__col2__wrapper">

<div class="tab__mob__col2__row1__wrapper">
   <a href="" class="tab__mob__menu">Menu</a>
        <a href="https://www.cristelusa.com/collections/all">Products</a>
        <a href="https://www.cristelusa.com/pages/collection">Collections</a>
        <a href="https://www.cristelusa.com/pages/recipes">Recipes & Tips</a>
        <a href="https://www.cristelusa.com/pages/restaurant-supply">Hospitality</a>
        <a href="https://www.cristelusa.com/pages/contact">Maison Cristel<sup><span class="">®</span></sup></a>
        <a href="">Retailers</a>
</div>
<div class="tab__mob__col2__row2__wrapper">
  <a href="" class="tab__mob__menu">Collections</a>
        <a href="https://www.cristelusa.com/pages/1826-collection">1826<sup><span class="">®</span></sup> collection</a>
        <a href="https://www.cristelusa.com/pages/strate-collection">Strate<sup><span class="">®</span></sup> removable handle </a>
        <a href="https://www.cristelusa.com/pages/castelpro%C2%AE-5-ply-ultraply%C2%AE">Castel Pro<sup><span class="">®</span></sup> Ultraply<sup><span class="">®</span></sup></a>
        <a href="https://www.cristelusa.com/collections/specialty-items">Specialty Items</a>
</div>
<div class="tablet__style__wrapper">
          <a href="https://www.cristelusa.com/blogs/faq" class="tab__mob__menu">FAQs</a>
          <a href="https://www.cristelusa.com/pages/contact-1">Contact</a>
          <a href="https://www.cristelusa.com/pages/point-of-sale">Points Of Sale</a>
       
</div>
</div>
</div>
<div>
 <div >
            <h2 class="tab__mob__connect">Let’s Connect</h2>
        </div>
        <div class="tab__mob__contact__wrapper">
        <a href="">(770) 979-6255</a>
        <a href="">customerservice@cristelusa.com</a>
        <p>PO Box 467906 <br> Atlanta, Georgia <br> 31146</p>
        </div>
</div>
<div>
  <div class="">
  <div class="tab__mob__payment__method__wrapper">
  <svg id="PayPal" xmlns="http://www.w3.org/2000/svg" width="70.181" height="18.9" viewBox="0 0 70.181 18.9">
  <path id="Tracciato_118" data-name="Tracciato 118" d="M-835.312,39.734a.414.414,0,0,0-.409.35l-2.361,14.971a.383.383,0,0,0,.087.309.383.383,0,0,0,.291.134h2.8a.414.414,0,0,0,.409-.35l.693-4.4a.414.414,0,0,1,.409-.35h2.545a6.037,6.037,0,0,0,5.96-5.11,4.9,4.9,0,0,0-5.135-5.557Zm2.721,3.342h2.036c1.677,0,2.223.989,2.05,2.083s-1.021,1.9-2.642,1.9h-2.073Zm13.4,1.018a6.367,6.367,0,0,0-2.433.528,6.358,6.358,0,0,0-3.528,3.993s-1.36,4.014,1.712,6.219a5.245,5.245,0,0,0,6.056-.131l-.055.352a.383.383,0,0,0,.087.308.383.383,0,0,0,.291.134h2.658a.414.414,0,0,0,.409-.35l1.617-10.252a.383.383,0,0,0-.087-.309.383.383,0,0,0-.291-.135h-2.658a.414.414,0,0,0-.409.35l-.087.552a4.615,4.615,0,0,0-3.282-1.26Zm.087,3.238a2.723,2.723,0,0,1,.835.123,2.351,2.351,0,0,1,1.609,2.664,2.977,2.977,0,0,1-2.984,2.553,2.726,2.726,0,0,1-.835-.122,2.354,2.354,0,0,1-1.612-2.664,2.981,2.981,0,0,1,2.988-2.553Z" transform="translate(838.086 -39.734)" fill="#4c303f"/>
  <path id="Tracciato_119" data-name="Tracciato 119" d="M-704.511,39.734a.414.414,0,0,0-.409.35l-2.361,14.971a.383.383,0,0,0,.087.309.383.383,0,0,0,.291.134h2.8a.414.414,0,0,0,.409-.35l.693-4.4a.414.414,0,0,1,.409-.35h2.545a6.036,6.036,0,0,0,5.959-5.11,4.9,4.9,0,0,0-5.134-5.557Zm2.721,3.342h2.036c1.677,0,2.223.989,2.05,2.083s-1.02,1.9-2.642,1.9h-2.073Zm13.4,1.018a6.368,6.368,0,0,0-2.434.528,6.358,6.358,0,0,0-3.528,3.993s-1.359,4.014,1.713,6.219a5.244,5.244,0,0,0,6.056-.131l-.055.352a.383.383,0,0,0,.087.309.383.383,0,0,0,.291.134h2.657a.414.414,0,0,0,.409-.35l1.617-10.252a.383.383,0,0,0-.087-.309.383.383,0,0,0-.291-.134h-2.658a.414.414,0,0,0-.409.35l-.087.552a4.615,4.615,0,0,0-3.282-1.26Zm.087,3.238a2.722,2.722,0,0,1,.835.123,2.351,2.351,0,0,1,1.609,2.664,2.977,2.977,0,0,1-2.984,2.553,2.726,2.726,0,0,1-.835-.122,2.354,2.354,0,0,1-1.613-2.664,2.981,2.981,0,0,1,2.988-2.553Z" transform="translate(745.558 -39.734)" fill="#4c303f"/>
  <path id="Tracciato_120" data-name="Tracciato 120" d="M-746.672,55.858a.311.311,0,0,0-.3.406l2.914,9.041-2.635,4.261a.311.311,0,0,0,.264.474h3.114a.518.518,0,0,0,.443-.25l8.138-13.461a.311.311,0,0,0-.266-.471h-3.114a.518.518,0,0,0-.445.254l-3.2,5.408-1.626-5.368a.415.415,0,0,0-.4-.294Z" transform="translate(773.64 -51.14)" fill="#4c303f"/>
  <path id="Tracciato_121" data-name="Tracciato 121" d="M-615.816,39.734a.414.414,0,0,0-.409.35l-2.361,14.97a.383.383,0,0,0,.087.309.383.383,0,0,0,.292.134h2.8a.414.414,0,0,0,.409-.35l2.361-14.971a.383.383,0,0,0-.087-.308.383.383,0,0,0-.291-.134Z" transform="translate(682.815 -39.734)" fill="#4c303f"/>
</svg>
<svg id="Mastercard" xmlns="http://www.w3.org/2000/svg" width="41.276" height="25.529" viewBox="0 0 41.276 25.529">
  <rect id="rect19" width="11.17" height="20.068" transform="translate(15.037 2.731)" fill="#4c303f"/>
  <path id="XMLID_330_" d="M15.78,12.764A12.8,12.8,0,0,1,20.638,2.731a12.76,12.76,0,1,0-7.874,22.8A12.7,12.7,0,0,0,20.638,22.8,12.739,12.739,0,0,1,15.78,12.764Z" fill="#4c303f"/>
  <path id="path22" d="M520.238,12.764A12.752,12.752,0,0,1,499.6,22.8a12.791,12.791,0,0,0,0-20.068,12.752,12.752,0,0,1,20.638,10.034Z" transform="translate(-478.962)" fill="#4c303f"/>
</svg>
<svg id="Visa" xmlns="http://www.w3.org/2000/svg" width="46.46" height="15.036" viewBox="0 0 46.46 15.036">
  <path id="polygon9" d="M437.271,125.282h-3.764l2.354-14.555h3.763Z" transform="translate(-417.138 -110.463)" fill="#4c303f"/>
  <path id="path11" d="M576.468,105.667a9.275,9.275,0,0,0-3.376-.62c-3.717,0-6.334,1.982-6.35,4.815-.031,2.091,1.874,3.252,3.3,3.949,1.456.712,1.951,1.177,1.951,1.812-.015.975-1.177,1.425-2.26,1.425a7.49,7.49,0,0,1-3.531-.774l-.5-.233-.527,3.267a11.454,11.454,0,0,0,4.2.775c3.949,0,6.52-1.951,6.55-4.971.015-1.657-.991-2.927-3.159-3.964-1.316-.666-2.123-1.115-2.123-1.8.016-.619.682-1.254,2.168-1.254a6.4,6.4,0,0,1,2.8.557l.34.155.512-3.143Z" transform="translate(-542.692 -105.048)" fill="#4c303f"/>
  <path id="path13" d="M796.345,120.126c.31-.836,1.5-4.072,1.5-4.072-.016.031.309-.852.5-1.394l.263,1.254s.713,3.484.867,4.212Zm4.646-9.4h-2.911a1.857,1.857,0,0,0-1.967,1.208l-5.59,13.347h3.949l.79-2.183h4.832c.108.511.449,2.183.449,2.183h3.485l-3.036-14.555Z" transform="translate(-757.567 -110.463)" fill="#4c303f"/>
  <path id="path15" d="M175.128,110.727l-3.686,9.925-.4-2.013a11.141,11.141,0,0,0-5.2-6.1l3.376,12.729h3.98l5.916-14.54Z" transform="translate(-161.902 -110.463)" fill="#4c303f"/>
  <path id="path17" d="M87.283,110.727H81.228l-.062.294c4.723,1.208,7.852,4.119,9.137,7.619l-1.316-6.689a1.557,1.557,0,0,0-1.7-1.224Z" transform="translate(-81.166 -110.463)" fill="#4c303f"/>
</svg>
  <svg id="American_Express" data-name="American Express" xmlns="http://www.w3.org/2000/svg" width="67.495" height="21.775" viewBox="0 0 67.495 21.775">
  <path id="path3046" d="M3.6,0,.2,7.918H2.414l.628-1.586H6.694l.628,1.586H9.589L6.187,0H3.6ZM4.864,1.843,5.978,4.61H3.751L4.864,1.843Z" transform="translate(-0.2)" fill="#4c303f"/>
  <path id="path3048" d="M142.7,7.911V0l3.152.014,1.829,5.1L149.47,0H152.6V7.918h-1.978V2.079l-2.1,5.832h-1.735l-2.106-5.832V7.911Z" transform="translate(-133.081)" fill="#4c303f"/>
  <path id="path3050" d="M309.4,7.911V0h6.46V1.769H311.4V3.125h4.354V4.793H311.4V6.2h4.455V7.918H309.4Z" transform="translate(-288.529)" fill="#4c303f"/>
  <path id="path3052" d="M422,0V7.918h1.978V5.1h.83l2.376,2.815H429.6L427,5a2.411,2.411,0,0,0,2.174-2.43A2.714,2.714,0,0,0,426.4,0Zm1.978,1.769h2.261a.912.912,0,0,1,.938.83,1,1,0,0,1-.911.83h-2.288V1.762h0Z" transform="translate(-393.528)" fill="#4c303f"/>
  <path id="path3054" d="M542.218,7.911H540.2V0h2.018V7.911Z" transform="translate(-503.749)" fill="#4c303f"/>
  <path id="path3056" d="M588.227,7.911h-.439c-2.113,0-3.389-1.661-3.389-3.922A3.652,3.652,0,0,1,588.328,0h2.187V1.877h-2.268A1.906,1.906,0,0,0,586.4,4.01a2.056,2.056,0,0,0,2.133,2.174h.52l-.83,1.728Z" transform="translate(-544.966)" fill="#4c303f"/>
  <path id="path3058" d="M657.9,0l-3.4,7.918h2.214l.628-1.586h3.652l.628,1.586h2.268L660.481,0Zm1.256,1.843,1.114,2.768h-2.227l1.114-2.768h0Z" transform="translate(-610.334)" fill="#4c303f"/>
  <path id="path3060" d="M796.9,7.911V0h2.518l3.213,4.975V0h1.978V7.918h-2.437l-3.294-5.1v5.1H796.9Z" transform="translate(-743.122)" fill="#4c303f"/>
  <path id="path3062" d="M213.7,213.118V205.2h6.46v1.769H215.7v1.357h4.354v1.667H215.7v1.4h4.455v1.721Z" transform="translate(-199.288 -191.349)" fill="#4c303f"/>
  <path id="path3064" d="M682.4,213.118V205.2h6.46v1.769H684.4v1.357h4.334v1.667H684.4v1.4h4.455v1.721Z" transform="translate(-636.351 -191.349)" fill="#4c303f"/>
  <path id="path3066" d="M312.074,213.118l3.146-3.908L312,205.2h2.491l1.917,2.477,1.924-2.477h2.4l-3.179,3.956,3.152,3.956H318.21l-1.863-2.437-1.816,2.437h-2.457Z" transform="translate(-290.953 -191.349)" fill="#4c303f"/>
  <path id="path3068" d="M444.4,205.2v7.918h2.032v-2.5h2.086c1.762,0,3.1-.938,3.1-2.754s-1.046-2.659-2.842-2.659H444.4Zm2.032,1.789h2.194a.914.914,0,1,1-.007,1.822h-2.187v-1.822Z" transform="translate(-414.416 -191.349)" fill="#4c303f"/>
  <path id="path3072" d="M563.9,205.2v7.918h1.978V210.3h.83l2.376,2.815H571.5L568.9,210.2a2.411,2.411,0,0,0,2.173-2.43,2.712,2.712,0,0,0-2.767-2.565h-4.4Zm1.985,1.769h2.261a.912.912,0,0,1,.938.83,1,1,0,0,1-.911.83h-2.288v-1.667Z" transform="translate(-525.85 -191.349)" fill="#4c303f"/>
  <path id="path3074" d="M788.25,213.211V211.49h3.962c.587,0,.837-.317.837-.661s-.25-.668-.837-.668h-1.789A2.214,2.214,0,0,1,788,207.791c0-1.424.8-2.491,3.105-2.491h3.854l-.83,1.782h-3.335c-.635,0-.83.338-.83.655a.7.7,0,0,0,.729.689h1.876a2.17,2.17,0,0,1,2.484,2.275,2.418,2.418,0,0,1-2.579,2.518h-4.219Z" transform="translate(-734.823 -191.442)" fill="#4c303f"/>
  <path id="path3076" d="M895.85,213.211V211.49h3.962c.587,0,.837-.317.837-.661s-.25-.668-.837-.668h-1.789a2.214,2.214,0,0,1-2.423-2.369c0-1.424.8-2.491,3.105-2.491h3.854l-.83,1.782h-3.334c-.635,0-.83.338-.83.655a.7.7,0,0,0,.729.689h1.876a2.17,2.17,0,0,1,2.484,2.275,2.418,2.418,0,0,1-2.579,2.518h-4.219Z" transform="translate(-835.159 -191.442)" fill="#4c303f"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="61.674" height="25.322" viewBox="0 0 61.674 25.322">
  <path id="Apple_Pay" data-name="Apple Pay" d="M11.328,3.265A3.789,3.789,0,0,1,8.292,4.7,4.3,4.3,0,0,1,9.376,1.554,4.528,4.528,0,0,1,12.388,0a4.574,4.574,0,0,1-1.06,3.265m1.048,1.662c-1.675-.1-3.108.952-3.9.952S6.449,4.975,5.123,5a4.948,4.948,0,0,0-4.2,2.554c-1.807,3.108-.47,7.71,1.277,10.24.855,1.253,1.879,2.626,3.229,2.578,1.277-.048,1.783-.831,3.325-.831s2,.831,3.349.807c1.4-.024,2.277-1.253,3.132-2.506a10.988,10.988,0,0,0,1.4-2.879,4.539,4.539,0,0,1-2.723-4.132,4.635,4.635,0,0,1,2.2-3.879,4.774,4.774,0,0,0-3.735-2.024m9.674-3.494V20.215h2.915V13.794H29A5.961,5.961,0,0,0,35.277,7.6,5.891,5.891,0,0,0,29.1,1.434H22.049Zm2.915,2.458h3.361c2.53,0,3.976,1.349,3.976,3.722s-1.446,3.735-3.988,3.735H24.965ZM40.6,20.359a4.823,4.823,0,0,0,4.3-2.4h.06v2.253h2.7V10.866c0-2.711-2.168-4.457-5.505-4.457-3.1,0-5.385,1.771-5.469,4.2h2.626A2.559,2.559,0,0,1,42.072,8.7c1.783,0,2.783.831,2.783,2.361V12.1l-3.638.217c-3.385.2-5.216,1.59-5.216,4C36,18.745,37.891,20.359,40.6,20.359Zm.783-2.229c-1.554,0-2.542-.747-2.542-1.891,0-1.181.952-1.867,2.771-1.976l3.241-.2v1.06C44.854,16.878,43.361,18.131,41.385,18.131Zm9.879,7.192c2.843,0,4.18-1.084,5.349-4.373l5.12-14.36H58.769l-3.433,11.1h-.06L51.842,6.59H48.794l4.939,13.673-.265.831a2.318,2.318,0,0,1-2.458,1.952c-.229,0-.675-.024-.855-.048V25.25A8.03,8.03,0,0,0,51.263,25.322Z" transform="translate(-0.059)" fill="#4c303f"/>
</svg>
<svg id="Google_Pay_Logo" xmlns="http://www.w3.org/2000/svg" width="59.252" height="23.549" viewBox="0 0 59.252 23.549">
  <path id="Tracciato_292" data-name="Tracciato 292" d="M37.021,16.144v6.886H34.8V6h5.775a5.511,5.511,0,0,1,3.776,1.481,4.705,4.705,0,0,1,1.555,3.628,4.816,4.816,0,0,1-1.555,3.628,5.38,5.38,0,0,1-3.776,1.481l-3.554-.074Zm0-8.07V14h3.7a2.848,2.848,0,0,0,2.147-.888,2.84,2.84,0,0,0,.074-4.072l-.074-.074a2.7,2.7,0,0,0-2.147-.888Z" transform="translate(-9.015 -4.663)" fill="#4c303f"/>
  <path id="Tracciato_293" data-name="Tracciato 293" d="M54.909,12.8a5.411,5.411,0,0,1,3.85,1.333,4.578,4.578,0,0,1,1.407,3.554v7.108H58.093V23.166h-.074a4.207,4.207,0,0,1-3.628,2,4.965,4.965,0,0,1-3.258-1.111A3.936,3.936,0,0,1,49.8,21.167a3.582,3.582,0,0,1,1.333-2.888,5.563,5.563,0,0,1,3.628-1.037,5.8,5.8,0,0,1,3.184.74v-.518a2.388,2.388,0,0,0-.888-1.925,3.368,3.368,0,0,0-5.035.74L50.1,15.1A5.64,5.64,0,0,1,54.909,12.8ZM52.1,21.241a1.685,1.685,0,0,0,.74,1.407,2.966,2.966,0,0,0,1.7.592A3.484,3.484,0,0,0,56.982,22.2a3.125,3.125,0,0,0,1.111-2.369,4.623,4.623,0,0,0-2.888-.814,3.6,3.6,0,0,0-2.221.666A1.74,1.74,0,0,0,52.1,21.241Z" transform="translate(-12.909 -6.429)" fill="#4c303f"/>
  <path id="Tracciato_294" data-name="Tracciato 294" d="M75.924,13.3l-7.33,16.807H66.373l2.74-5.849L64.3,13.374h2.369l3.48,8.367h.074l3.406-8.367h2.3Z" transform="translate(-16.673 -6.558)" fill="#4c303f"/>
  <path id="Tracciato_295" data-name="Tracciato 295" d="M22.6,17a18.154,18.154,0,0,0-.148-2H13.2v3.776h5.257a4.489,4.489,0,0,1-1.925,2.962v2.443h3.184A9.525,9.525,0,0,0,22.6,17Z" transform="translate(-3.408 -7)" fill="#4c303f"/>
  <path id="Tracciato_296" data-name="Tracciato 296" d="M10.137,27.822a9.483,9.483,0,0,0,6.516-2.369L13.469,23.01a5.9,5.9,0,0,1-3.332.963A5.8,5.8,0,0,1,4.658,19.9H1.4v2.517A9.784,9.784,0,0,0,10.137,27.822Z" transform="translate(-0.345 -8.272)" fill="#4c303f"/>
  <path id="Tracciato_297" data-name="Tracciato 297" d="M4.288,17.693a5.515,5.515,0,0,1,0-3.776V11.4H1.03a9.724,9.724,0,0,0,0,8.811Z" transform="translate(0.025 -6.065)" fill="#4c303f"/>
  <path id="Tracciato_298" data-name="Tracciato 298" d="M10.163,8.049A5.511,5.511,0,0,1,13.939,9.53h0l2.814-2.814A9.363,9.363,0,0,0,10.237,4.2,9.7,9.7,0,0,0,1.5,9.6l3.258,2.517A5.642,5.642,0,0,1,10.163,8.049Z" transform="translate(-0.371 -4.195)" fill="#4c303f"/>
</svg>

  </div>
  <div class="tab__mob__terms__wrapper">
    <a href="https://www.cristelusa.com/policies/shipping-policy">Shipping Policy</a>
    <a href="https://www.cristelusa.com/pages/privacy">Policy Privacy</a>
    <a href="https://www.cristelusa.com/pages/terms-and-conditions-1">Terms and Condidions</a>
    <a href="">Copyright © Cristel USA</a>
  </div>
  </div>
</div>
</div>
</div>
</div>
<style>
.footer__bg{
    background-color:#FFF0E2;
}
.tablet__mobile__footer{
  display:none;
}
.main__footer__sec__wrapper{
    padding-top:100px;
    padding-bottom:100px;
}
.main__footer__wrapper{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left:170px;
    margin-right:170px;
    gap:150px;
}

.main__footer__sec__wrapper a{
    text-decoration:none;
    color:#4C303F;
    font-size:21px;
    line-height:28px;
    font-family:work-sans;
}

.column__1__wrapper{
    display:flex;
    flex-direction:column;
    gap:5px;
}

.column__1__wrapper h2{
    color:#4C303F;
    font-family:columbia-reqular;
    letter-spacing:0.72px;
    text-transform:capitalize;
}
.contact__form__wrapper {
    margin-top:30px;
    position: relative;
    display: flex;
    align-items: center;
}

.contact__input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* To make space for the button */
    border: none;
    border-bottom: 2px solid #4C303F; /* Adjust the color as needed */
    font-size: 16px;
    background-color:#FFF0E2;
}

.contact__input:focus {
    outline: none; /* Remove the default focus outline */
    border-bottom-color: #4C303F; /* Change the border color on focus */
}

.arrow__button {
    position: absolute;
    right: -10px; /* Adjust based on padding and button size */
    bottom:10px;
    background: none;
    border: none;
    font-size: 20px; /* Adjust the size of the arrow */
    cursor: pointer;
    color: #000; /* Adjust the color as needed */
}

.arrow__button:focus {
    outline: none; /* Remove the default focus outline */
}

.arrow__button:hover {
    color: #007BFF; /* Change the color on hover */
}

.contact__form__wrapper input{
    
}
.social__media__wrapper{
    display:flex;
    margin-top:20px;
    gap:10px;
}

.let__connect__wrapper{
    margin-top:70px;
}

.let__connect__wrapper h2{
    color:#4C303F;
    font-family:columbia-reqular;
}
.contact__details__wrapper{
    display:flex;
    flex-direction:column;
    gap:5px;
    margin-top:20px;
}

.contact__details__wrapper p{
    color:#4C303F;
    font-size:21px;
    line-height:28px;
    margin-top:20px;
    font-family:work-sans;
}

.column__2__wrapper{
    display:flex;
     flex-direction:row;
     gap:100px;
}

.column__2__wrapper a:first-of-type {
    opacity:0.5
}

.column__2__wrapper a:nth-of-type(2) {
    margin-top:30px
}
.column__3__wrapper{
    display:flex;
     flex-direction:column;
     gap:5px;
}
.column__3__wrapper a:first-of-type {
   opacity:0.5
}
.column__3__wrapper a:nth-of-type(2) {
    margin-top:30px
}
.column__4__wrapper{
    display:flex;
     flex-direction:column;
     gap:5px;
}
.column__4__wrapper a:first-of-type {
   opacity:0.5
}
.column__4__wrapper a:nth-of-type(2) {
    margin-top:30px
}
.footer__end__wrapper{
    margin-top:100px;
    display:flex;
    justify-content:space-between;
    margin-left:170px;
    margin-right:170px;
}

.footer__end__col__1__wrapper{
    display:flex;
    gap:20px;
}

.footer__end__col__2__wrapper{
    display:flex;
    gap:20px;
}

.footer__end__col__2__wrapper a{
    font-size:12px;
    opacity:0.5;
}


@media screen and (max-width: 1500px){
  .main__footer__wrapper{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left:130px;
    margin-right:130px;
}
.column__2__wrapper{
    display:flex;
     flex-direction:row;
     gap:50px;
}
  .footer__end__wrapper{
    margin-top:100px;
    display:flex;
    justify-content:space-between;
    margin-left:130px;
    margin-right:130px;
}
}
@media screen and (max-width: 1400px){
  .main__footer__wrapper{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left:90px;
    margin-right:90px;
}
.column__2__wrapper{
    display:flex;
     flex-direction:row;
     gap:30px;
}
  .footer__end__wrapper{
    margin-top:100px;
    display:flex;
    justify-content:space-between;
    margin-left:90px;
    margin-right:90px;
}
}


@media screen and (max-width: 1200px){
  .desktop__footer{
    display:none;
  }
  .tablet__mobile__footer{
  display:block;
}
.tablet__mobile__footer__bg{
   background-color:#FFF0E2;
}

.tablet__mobile__footer__main{
  margin-left:36px;
  margin-right:36px;
  padding-top:60px;
}
.tab__mob__get__list{
  text-align:center;
  font-size:32px;
  line-height:40px;
  letter-spacing:0.64px;
  color:#2F2727;
  font-family:columbia-reqular;
}


.tab__mob__social__media__wrapper{
    display:flex;
    margin-top:20px;
    gap:20px;
    justify-content:center;
}
.tab__mob__social__media__wrapper svg{
  width:26px;
  height:26px;
}
.tab__mob__main__foot__wrapper{
  display:flex;
 gap:10px;
}

.tablet__style__wrapper{
  display:flex;
  flex-direction:column;
}
.tablet__style__wrapper a{
    text-decoration:none;
   font-size:18px;
   line-height:30px;
   color:#4C303F;
   font-family:work-sans;
   padding-top:10px;
}
.tab__mob__main__foot__wrapper a{
   text-decoration:none;
   font-size:18px;
   line-height:30px;
   color:#4C303F;
   font-family:work-sans;
   padding-top:10px;
}

.tab__mob__help{
  text-decoration:none;
   font-size:18px;
  line-height:30px;
  font-family:work-sans;
  letter-spacing:0px;
  color:#4C303F;
  opacity:0.5;
}

.tab__mob__col2__wrapper{
  display:flex;
  gap:30px;
  padding-top:20px;

}

.tab__mob__col2__wrapper a{
  text-decoration:none;
}

.tab__mob__col2__row1__wrapper{
  display:flex;
  flex-direction:column;
}
.tab__mob__col2__row1__wrapper a{
  font-size:18px;
  line-height:30px;
  font-family:work-sans;
  letter-spacing:0px;
  color:#4C303F;
}
.tab__mob__col2__row2__wrapper{
  display:flex;
  flex-direction:column;
  
}
.tab__mob__menu{
  opacity:0.5;
  padding-bottom:20px;
}
.tab__mob__col2__row2__wrapper a{
  font-size:18px;
  line-height:30px;
  font-family:work-sans;
  letter-spacing:0px;
  color:#4C303F;
}
.tab__mob__connect{
  text-align:center;
  font-family:columbia-reqular;
  font-size:25px;
  line-height:33px;
  letter-spacing:0.5px;
  color:#2F2727;
  padding-top:50px;
}
.tab__mob__contact__wrapper{
  display:flex;
  flex-direction:column;
  padding-top:20px;
}
.tab__mob__contact__wrapper a{
  text-decoration:none;
  font-size:18px;
  line-height:30px;
  font-family:work-sans;
  letter-spacing:0px;
  color:#4C303F;
}
.tab__mob__contact__wrapper p{
  font-size:18px;
  line-height:30px;
  font-family:work-sans;
  letter-spacing:0px;
  color:#4C303F;
  padding-top:20px;
}
.tab__mob__payment__method__wrapper{
  display:flex;
  padding-top:50px;
}
.tab__mob__payment__method__wrapper svg{
  width:36px;
  height:10px;
}
.tab__mob__terms__wrapper{
  display:flex;
flex-wrap:wrap;
gap:5px;
padding-top:40px;
padding-bottom:50px;
}
.tab__mob__terms__wrapper a{
  text-decoration:none;
  font-size:12px;
  letter-spacing:0px;
  color:#4C303F;
  opacity:0.5;
  font-family:work-sans;
}

}


@media screen and (max-width: 640px){
  .desktop__footer{
    display:none;
  }
  .tablet__mobile__footer{
  display:block;
}
.tablet__mobile__footer__bg{
   background-color:#FFF0E2;
}
.tablet__style__wrapper{
  display:none;
}
.tablet__mobile__footer__main{
  margin-left:36px;
  margin-right:36px;
  padding-top:60px;
}
.tab__mob__get__list{
  text-align:center;
  font-size:25px;
  line-height:33px;
  letter-spacing:0.5px;
  color:#2F2727;
  font-family:columbia-reqular;
}
.tab__mob__social__media__wrapper{
    display:flex;
    margin-top:20px;
    gap:20px;
    justify-content:center;
}
.tab__mob__social__media__wrapper svg{
  width:22px;
  height:22px;
}
.tab__mob__main__foot__wrapper{
  display:flex;
 gap:10px;
}
.tab__mob__main__foot__wrapper a{
   text-decoration:none;
   font-size:14px;
   line-height:24px;
   color:#4C303F;
   font-family:work-sans;
   padding-top:10px;
}

.tab__mob__help{
  text-decoration:none;
   font-size:14px;
  line-height:24px;
  font-family:work-sans;
  letter-spacing:0px;
  color:#4C303F;
  opacity:0.5;
}

.tab__mob__col2__wrapper{
  display:flex;
  gap:30px;
  padding-top:20px;

}

.tab__mob__col2__wrapper a{
  text-decoration:none;
}

.tab__mob__col2__row1__wrapper{
  display:flex;
  flex-direction:column;
}
.tab__mob__col2__row1__wrapper a{
  font-size:14px;
  line-height:24px;
  font-family:work-sans;
  letter-spacing:0px;
  color:#4C303F;
}
.tab__mob__col2__row2__wrapper{
  display:flex;
  flex-direction:column;
  
}
.tab__mob__menu{
  opacity:0.5;
  padding-bottom:20px;
}
.tab__mob__col2__row2__wrapper a{
  font-size:14px;
  line-height:24px;
  font-family:work-sans;
  letter-spacing:0px;
  color:#4C303F;
}
.tab__mob__connect{
  text-align:center;
  font-family:columbia-reqular;
  font-size:25px;
  line-height:33px;
  letter-spacing:0.5px;
  color:#2F2727;
  padding-top:50px;
}
.tab__mob__contact__wrapper{
  display:flex;
  flex-direction:column;
  padding-top:20px;
}
.tab__mob__contact__wrapper a{
  text-decoration:none;
  font-size:14px;
  line-height:24px;
  font-family:work-sans;
  letter-spacing:0px;
  color:#4C303F;
}
.tab__mob__contact__wrapper p{
  font-size:14px;
  line-height:24px;
  font-family:work-sans;
  letter-spacing:0px;
  color:#4C303F;
  padding-top:20px;
}
.tab__mob__payment__method__wrapper{
  display:flex;
  padding-top:50px;
}
.tab__mob__payment__method__wrapper svg{
  width:36px;
  height:10px;
}
.tab__mob__terms__wrapper{
  display:flex;
flex-wrap:wrap;
gap:5px;
padding-top:40px;
padding-bottom:50px;
}
.tab__mob__terms__wrapper a{
  text-decoration:none;
  font-size:8px;
  letter-spacing:0px;
  color:#4C303F;
  opacity:0.5;
  font-family:work-sans;
}
}
</style>