<div class="home__intro__vid">
<video src="{{ 'CristelUSAVideo1.mp4' | asset_url }}" autoplay loop muted playsinline class="intro__vid"></video>
</div>

<style>
.intro__vid{
    width:100%;
    height:auto;
}

@media screen and (max-width: 1200px){
.home__intro__vid{
margin-top:50px;
}
}
@media screen and (max-width: 640px){
.home__intro__vid{
margin-top:50px;
}
}


</style>